################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/yc-ai/.vs
