
.DS_Store
/yc-ai/.vs
/.vs
/yc-ai/obj
/yc-ai/Properties
/yc-ai/yc-speechkit-batch-asr/.vs
/yc-ai/yc-speechkit-batch-asr/bin/Debug/netcoreapp3.1
/yc-ai/yc-speechkit-batch-asr/obj
/yc-ai/yc-speechkit-batch-asr/yandex/cloud/ai
/yc-ai/yc-speechkit-hybrid/.vs/yc-speechkit-streaming-asr
/yc-ai/yc-speechkit-hybrid/bin/Debug/netcoreapp3.1
/yc-ai/yc-speechkit-hybrid/obj
/yc-ai/yc-speechkit-hybrid/Properties
/yc-ai/yc-speechkit-hybrid/yandex/cloud
/yc-ai/yc-speechkit-streaming-asr/.vs/yc-speechkit-streaming-asr
/yc-ai/yc-speechkit-streaming-asr/bin/Debug/netcoreapp3.1
/yc-ai/yc-speechkit-streaming-asr/obj
/yc-ai/yc-speechkit-hybrid/google
/yc-ai/yc-speechkit-transcoder/.vs
/yc-ai/yc-vision-batch-proc/.vs
/yc-ai/yc-vision-batch-proc/yc-vision-batch-proc
/yc-ai/yc-speechkit-transcoder/src/cmake-build-debug/CMakeFiles
/yc-ai/yc-speechkit-transcoder/src/cmake-build-debug/parson/CMakeFiles
/yc-ai/yc-speechkit-transcoder/src/google
/yc-ai/yc-speechkit-transcoder/src/out/build
/yc-ai/yc-speechkit-transcoder/.idea

**/*.pem
**/*.cert