################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/yc-ai/.vs
/yc-ai/obj
/yc-ai/yc-ai-web-ui/bin/Debug/net6.0
/yc-ai/yc-ai-web-ui/obj
/.vs
/yc-ai/yc-scale-2022/.vs
/yc-ai/yc-scale-2022/bin
/yc-ai/yc-scale-2022/ClientApp/node_modules/.bin
/yc-ai/yc-scale-2022/ClientApp/node_modules
/yc-ai/yc-scale-2022/obj
/yc-ai/yc-speechkit-batch-asr/.vs
/yc-ai/yc-speechkit-batch-asr/bin/Debug/net5.0
/yc-ai/yc-speechkit-batch-asr/obj
/yc-ai/yc-speechkit-cli/.vs
/yc-ai/yc-speechkit-hybrid/obj
/yc-ai/yc-speechkit-hybrid/bin/Debug/netcoreapp3.1
/yc-ai/yc-speechkit-hybrid/.vs/yc-speechkit-streaming-asr
/yc-ai/yc-speechkit-streaming-asr/.vs
/yc-ai/yc-speechkit-streaming-asr/bin
/yc-ai/yc-speechkit-streaming-asr/obj/Container
/yc-ai/yc-speechkit-streaming-asr/obj/Debug
/yc-ai/yc-speechkit-streaming-asr/obj
/yc-ai/yc-speechkit-transcoder/.idea
/yc-ai/yc-speechkit-transcoder/.vs
/yc-ai/yc-speechkit-transcoder/src/.vs
/yc-ai/yc-speechkit-transcoder/src/cmake-build-debug
/yc-ai/yc-speechkit-transcoder/src/out/build
/yc-ai/yc-speechkit-ui/bin/Debug/net6.0
/yc-ai/yc-speechkit-ui/obj
/yc-ai/yc-vision-batch-proc/.vs
/yc-ai/yc-vision-batch-proc/bin/Debug
/yc-ai/yc-scale-2022/yc-scale-2022.sln
/yc-ai/yc-scale-2022/Properties/launchSettings.json
/yc-ai/Properties/launchSettings.json
/yc-ai/yc-speechkit-hybrid/Properties/launchSettings.json
/yc-ai/yc-vision-batch-proc/Properties/launchSettings.json
/yc-ai/yc-ai.rar
/yc-ai.rar
