[submodule "yc-ai/yc-cloud-api"]
	path = yc-ai/yc-cloud-api
	url = https://github.com/yandex-cloud/cloudapi
[submodule "yc-ai/yc-speechkit-batch-asr/yc-cloud-api"]
	path = yc-ai/yc-speechkit-batch-asr/yc-cloud-api
	url = https://github.com/yandex-cloud/cloudapi
