[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-environ = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
